body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

.navbar{
  border-radius: 0;
}

.navbar-header h1 {
  margin: 0;
}

.navbar-header h1 a {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
#nal-list {
  background-color: yellow;
}
#nal-list a {
  text-align: center;
}

#nal-list li:first-child {
  border-top: 1px solid darkblue;
}
#nal-list li {
  border-bottom: 1px solid darkblue;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
}
.dropdown-menu1 {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item {
  background-color: #9b8686;
  padding: 20px;
  margin-top: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.menu-item h3 {
  text-align: center;
  margin-top: 0;
}
.menu-item p {
  text-align: justify;
  margin-bottom: 0;
}